body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: #1da1f2;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-container button:active {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #1da1f2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.error {
    color: red;
    text-align: center;
}

.download-button {
    padding: 10px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.download-button:hover {
    background-color: #0056b3;
}

.copy-id {
    position: relative;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.copy-id:hover {
    background-color: #bdbdbd;
}

@keyframes blink {
    0% { background-color: #ffffff; }
    50% { background-color: #007BFF; }
    100% { background-color: #ffffff; }
}

.blink {
    animation: blink 0.5s linear;
}
